BRs: Clarify how an IP address is encoded in the commonName

Although the BRs prefer the `subjectAltName` to express the server identity, using either the `dNSName` or `iPAddress` fields, they still permit inclusion of a `commonName` in the subject field.

With [SC48v2](https://cabforum.org/2021/07/22/ballot-sc48-v2-domain-name-and-ip-address-encoding/), the BRs were clarified with respect to domain names being a "character-by-character copy", to address concerns regarding `U-Labels` and `A-Labels`. However, for IP addresses, the SAN field is encoded as a series of network bytes, while the CN field is encoded as a string. In the RFCs, this isn't well-specified; RFC 2818 explicitly stated IP addresses should only be matched via the SAN, and RFC 6125 does not address this, although in practice, implementations such as Microsoft prior to Windows 10 relied on the `commonName` field being textually parsable as an IP address.

This creates all sorts of canonicalization issues for comparison/enforcement/linting/validation: for example, is a CN of `0x7F000001` valid to match `127.0.0.1`? Is an IPv6 address encoded as "`[::1]`" (URL form, matching the authority portion) or as "`::1`" (no brackets, matching the network string form)? What about more esoteric-yet-valid encodings, like "`[::127.0.0.1]`"?

While RFCs like [RFC 5952](https://datatracker.ietf.org/doc/html/rfc5952) exist, and provide recommended forms, such as https://datatracker.ietf.org/doc/html/rfc5952#section-4, for IPv6, similar such guidance regarding IPv4 is underspecified. The [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) gave a string representation for an IPv4 as a "dotted quad", attempting to formalize the informal definition, in https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2 , but as noted in https://datatracker.ietf.org/doc/html/rfc3986#section-7.4 , real world implementations never exactly lined up with that syntax or implementation.

Ideally, this would be addressed by the CA/B Forum forbidden commonName entirely - as the IETF is working to do so in the [update to RFC 6125](https://datatracker.ietf.org/doc/draft-ietf-uta-rfc6125bis/). Nothing would prohibit the CA/B Forum from moving sooner on that, and this may offer the best path forward. Absent that, it's useful to have some expectation and guidance on the valid forms.

@sleevi SC48 provides explicit guidance on how to encode IP addresses in the CN: https://github.com/cabforum/servercert/pull/285/files#diff-e0ac1bd190515a4f2ec09139d395ef6a8c7e9e5b612957c1f5a2dea80c6a6cfeR2092. Can you explain further how this is still underspecified?

> Ideally, this would be addressed by the CA/B Forum forbidden commonName entirely - as the IETF is working to do so in the update to RFC 6125

Additionally, RFC 6125 and RFC 6125-bis (draft-01, at least) introduce no normative requirements on the allowed certificate profile and instead only  address client certificate processing only. I am unaware of any discussion at IETF on prohibiting the CN from being included in certificates that adhere to the PKIX profile. Can you clarify the statement above?


Ugh, I’m an idiot and was looking at the wrong tab - wrong version of the BRs. I’ll close this - thanks for the reminder.

As to forbidding CN - yes, the IETF side is about the client processing, but there’s no reason that precludes a similar discussion on CA issuing. The entire point of both efforts is the security risks and underspecified nature.