BRs: Clarify the CAA requirements for CAA and .onion addresses

As raised in https://archive.cabforum.org/pipermail/servercert-wg/2021-January/002433.html , Section 3.2.2.4 and Section 3.2.2.8 of the BRs have a bit of an awkward intersection.

3.2.2.8 requires checking CAA, which uses DNS, but `.onion` is set aside as a special-purpose domain by [RFC 7686](https://tools.ietf.org/html/rfc7686). RFC 7686 requires that DNS servers NXDOMAIN requests for `.onion`, which means that DNSSEC validation will fail (no appropriate records), and thus CAs may still issue provided they meet the requirements. However, by requiring CAs to query the CAA record multiple times violates the SHOULD NOT of [RFC 7686, Section 2](https://tools.ietf.org/html/rfc7686#section-2), "Application Software", and so it's rather silly.

Gets even more weird if you follow the definition of the Internal Name which seems to apply for .onion addresses.

_**Internal Name:** A string of characters (not an IP address) in a Common Name or Subject Alternative Name field of a Certificate that cannot be verified as globally unique within the public DNS at the time of certificate issuance because it does not end with a Top Level Domain registered in IANA's Root Zone Database._

As mentioned on today's call though, 3.2.2.4 states:

> The CA SHALL confirm that prior to issuance, the CA has validated each Fully-Qualified
Domain Name (FQDN) listed in the Certificate as follows:
>   1. When the FQDN does not contain “onion” as the rightmost label, the CA SHALL validate the
FQDN using at least one of the methods listed below; and
>   2. When the FQDN contains “onion” as the rightmost label, the CA SHALL validate the FQDN in
accordance with Appendix B.

And Appendix B states
> 3. When a Certificate includes an FQDN where “onion” is in the right-most label of the Domain
Name, the Domain Name shall not be considered an Internal Name provided that the
Certificate was issued in compliance with this Appendix B.

SC54 added the following to BR 3.2.2.8:

> As part of the Certificate issuance process, the CA MUST retrieve and process CAA
records in accordance with RFC 8659 for each dNSName in the subjectAltName
extension that does not contain an Onion Domain Name. I

Given this, this issue can resolved.