Baseline Requirements: Move text from § 4.9.10 to § 4.9.9

The content in BR § 4.9.10 belongs in BR § 4.9.9, and BR § 4.9.10 should say “No stipulation.”  

According to my reading of [RFC 3647](https://datatracker.ietf.org/doc/html/rfc3647#section-4.4.9), section 4.9.9 (along with section 4.10) should indicate whether OCSP is a component of the PKI and the availability, uptime, etc. of online status information. Section 4.9.10, on the other hand, is for stating the obligations of relying parties to check that online status information (similar to section 4.9.6).  Here is the relevant excerpt, that supports my position that the list under section 4.4.9 of RFC 3647 translates to the information lower down in the table in [Section 6](https://datatracker.ietf.org/doc/html/rfc3647#section-6)):

   *  On-line revocation/status checking availability, for instance, OCSP and a web site to which status inquiries can be submitted;

   *  Requirements on relying parties to perform on-line revocation/status checks;


Thanks for filing this @BenWilson-Mozilla . It's actually a bit more complex than you've outlined. I've retitled to reflect this.

The situation as it stands is that 4.9.9 contains profile requirements on an OCSP responder certificate (this belongs in Section 7.1, for certificate profiles) and OCSP response profiles (this belongs in 7.3). Similarly, 4.9.10 also contains elements of OCSP response profiles, which also belongs in Section 7.3.

The requirement of the OCSP responder uptime and capabilities (such as the `GET` method) does indeed belong in 4.9.9.

I've moved this from "clean-up" to "enhancement", since this is broadly the OCSP and CRL profiling work previously discussed, and which is currently pending the completion of the Certificate Profile work.

According to RFC 3647 section 6:
   4.9.9  On-line revocation/status checking availability
   4.9.10 On-line revocation checking requirements