clarify (none) use of space separators on contactphone

In, A.1.2. CAA contactphone Property, it say
1) “The entire parameter value MUST be a valid Global Number as defined in RFC 3966, Section 5.1.4, or it cannot be used. “, 
2) “Global Numbers MUST have a preceding + and a country code and MAY contain visual separators.”

and example is 
> $ORIGIN example.com.
>                CAA 0 contactphone "+1 (555) 123-4567"
(using space separators)

In the other hand, RFC3966 5.1.1  says 
“However, even though ITU-T E.123 [E.123] recommends the use of space characters as visual separators in printed telephone numbers, "tel" URIs MUST NOT use spaces in visual separators to avoid excessive escaping.”
<https://datatracker.ietf.org/doc/html/rfc3966#section-5.1.1>

I believe, one option is to remove whitespace separators from example (and might also write none use of space as visual separators).
There might be another option of to permit use of white space, with explicitly write exceptional permission .

Notes from the 2024-05-12 SCWG Teleconference:
- Remove the spaces from the example to be consistent with the RFC
- Clean-up item (assigned to @XolphinMartijn )
- Spaces are not compliant according to the RFC

The TBRs only require use of the Global Number syntax defined in RFC3966, which is defined in Section 5.1.4. This Section further references [E.123](https://datatracker.ietf.org/doc/html/rfc3966#ref-E.123) and [E.164](https://datatracker.ietf.org/doc/html/rfc3966#ref-E.164).
E.123 Section 9.1 explicitly allows (and recommends) the use of space characters as visual separators. RFC3966 Section 5.1.1 notes that space characters are not allowed in "tel" URIs, but this is not applicable to the TBRs as we are not using that syntax.

TBRs require use of  RFC3966 section 5.1.4 "definition"

In our understanding, 
- RFC3966 is defining "tel" URI
- section 5.1.4 is part of "5.  Phone Numbers and Their Context" and "5.1.   Phone Numbers"
- 5.1.1 is requiring none use of space
- 5.1.4 describe about Global number

we think if 5.1.4 is "definition", it is define as part of definitions on section 5.1 and also 5, 
and recognized 5.1.4 as Global Numbers in tel URI.


In the other hand, as you said, we can treat 5.1.4 as independent from other RFC3966 text.
However, in that understanding, there is other issue.

E.123 allow use of space, but not allow use of other separator.

> 9.1 Grouping of digits in a telephone number5 should be accomplished by means or spaces6 unless an agreed upon explicit symbol (e.g. hyphen) is necessary for procedural purposes. Only spaces should be used in an international number. 

So if TBR A.2.2 is requiring E.123 base phone number, example should contain only space separator.
(we have space, hyphen, and parenthesis in example)
